.probe/
.cache/
.vscode/
coremods/
downloads/
local/
logs/
mods/
resourcepacks/
saves/
screenshots/
schematics/
server-resource-packs/
shaderpacks/
texturepacks/
crash-reports/

command_history.txt
icon.png
options.txt
usercache.json
usernamecache.json
.probe
